# Supabase Configuration
SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-key
SUPABASE_S3_ENDPOINT=your-supabase-s3-endpoint
SUPABASE_S3_ACCESS_KEY=your-access-key
SUPABASE_S3_SECRET_KEY=your-secret-key

# Database Configuration
MYSQL_PASSWORD=root

# Gemini AI Configuration
GEMINI_API_KEY=
